<<<<<<< HEAD
div { clear : both ;font-size:18px ;color : blue; } p { line-height:110%;} h1 { font-size: 19px ;} span { text-align:center; }
=======
div { clear : both ;font-size:18px ;color : blue; } p { line-height:110%;} h1{ font-size: 13px;}
>>>>>>> man et make install (pas fini)
