h1{
font-size:12px;
font-family:Helvetica,Geneva,Arial,SunSans-Regular,sans-serif;
}
div{
clear:both;
}
p{
line-height:110%;
padding-bottom:1px;
border-bottom:1pxdottedrgba(255,255,255,0.4);
font-family:'open_sansregular',sans-serif;
}
body{
padding-left:11em;
font-family:'open_sanslight',sans-serif;
background-color:#d8da3d;
background:#000;
height:100%;
}
ul.navbar{
list-style-type:none;
padding:0;
margin:0;
position:absolute;
top:2em;
left:1em;
width:9em;
}
ul.navbarli{
background:white;
margin:0.5em0;
padding:0.3em;
border-right:1emsolidblack;
}
a:visited{
color:purple;
}
address{
margin-top:1em;
padding-top:1em;
border-top:thindotted;
}
html{
height:100%;
}
.btn{
-webkit-transition:all0.4s;
transition:all0.4s;
outline:none!important;
}
a{
color:rgba(255,255,255,0.8);
font-weight:bold;
}
a:hover{
color:rgba(255,255,255,1);
}
p:hover{
border-color:#fff;
border-color:rgba(255,255,255,1);
}
p,div{
margin:5px;
}
html,body{
width:100%;
}
p,div,body{
font-size:18px;
}
div,h1,a:link{
color:blue;
}
a,body,a:hover{
color:#fff;
}
.btn,ul.navbara,a:hover{
text-decoration:none;
}
